:root {
  --primary-color: #007acc;
  --secondary-color: #005f99;
  --background-color: #f9fafb;
  --text-color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}
